---
http_interactions:
- request:
    method: get
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Virtual_Guest?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:tns=\"http://api.service.softlayer.com/soap/v3.1/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap-enc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" name=\"slApi\" targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \ <types>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:include namespace=\"http://api.service.softlayer.com/soap/v3.1/\"
        schemaLocation=\"https://api.softlayer.com:443/soap/v3.1/SoftLayer_Virtual_Guest?xsd\"/>\n
        \   </xsd:schema>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:complexType name=\"SoftLayer_Virtual_GuestInitParameters\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"id\" type=\"xsd:int\"/>\n
        \         <xsd:element minOccurs=\"0\" maxOccurs=\"1\" name=\"globalIdentifier\"
        type=\"xsd:string\"/>\n        </xsd:sequence>\n      </xsd:complexType>\n
        \     <xsd:complexType name=\"SoftLayer_Virtual_GuestObjectMask\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"mask\" type=\"tns:SoftLayer_Virtual_Guest\"/>\n
        \       </xsd:sequence>\n      </xsd:complexType>\n      <xsd:simpleType name=\"getBandwidthImage_networkType\">\n
        \       <xsd:restriction base=\"xsd:string\">\n          <xsd:enumeration
        value=\"public\">\n            <xsd:annotation>\n              <xsd:documentation>public</xsd:documentation>\n
        \           </xsd:annotation>\n          </xsd:enumeration>\n          <xsd:enumeration
        value=\"private\">\n            <xsd:annotation>\n              <xsd:documentation>private</xsd:documentation>\n
        \           </xsd:annotation>\n          </xsd:enumeration>\n        </xsd:restriction>\n
        \     </xsd:simpleType>\n      <xsd:simpleType name=\"getBandwidthImage_snapshotRange\">\n
        \       <xsd:restriction base=\"xsd:string\">\n  [...]
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Virtual_Guest
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION></env:Header><env:Body><tns:getCreateObjectOptions></tns:getCreateObjectOptions></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_Virtual_GuestAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:getCreateObjectOptionsResponse><getCreateObjectOptionsReturn xsi:type="ns1:SoftLayer_Container_Virtual_Guest_Configuration"><blockDevices SOAP-ENC:arrayType="ns1:SoftLayer_Container_Virtual_Guest_Configuration_Option[93]" xsi:type="ns1:SoftLayer_Container_Virtual_Guest_Configuration_OptionArray"><item xsi:type="ns1:SoftLayer_Container_Virtual_Guest_Configuration_Option"><itemPrice xsi:type="ns1:SoftLayer_Product_Item_Price"><hourlyRecurringFee xsi:type="xsd:decimal">0</hourlyRecurringFee><recurringFee xsi:type="xsd:decimal">0</recurringFee><item xsi:type="ns1:SoftLayer_Product_Item"><description xsi:type="xsd:string">25 GB (SAN)</description></item></itemPrice><template xsi:type="ns1:SoftLayer_Virtual_Guest"><id xsi:nil="true"/><blockDevices SOAP-ENC:arrayType="ns1:SoftLayer_Virtual_Guest_Block_Device[1]" xsi:type="ns1:SoftLayer_Virtual_Guest_Block_DeviceArray"><item xsi:type="ns1:SoftLayer_Virtual_Guest_Block_Device"><device xsi:type="xsd:string">0</device><diskImage xsi:type="ns1:SoftLayer_Virtual_Disk_Image"><capacity xsi:type="xsd:int">25</capacity></diskImage></item></blockDevices><localDiskFlag xsi:type="xsd:boolean">false</localDiskFlag></template></item><item xsi:type="ns1:SoftLayer_Container_Virtual_Guest_Configuration_Option"><itemPrice xsi:type="ns1:SoftLayer_Product_Item_Price"><hourlyRecurringFee xsi:type="xsd:decimal">.016</hourlyRecurringFee><recurringFee xsi:type="xsd:decimal">10.29</recurringFee><item xsi:type="ns1:SoftLayer_Product_Item"><description xsi:type="xsd:string">100 GB (SAN)</description></item></itemPrice><template xsi:type="ns1:SoftLayer_Virtual_Guest"><id xsi:n[...]
