---
http_interactions:
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Virtual_Guest
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION></env:Header><env:Body><tns:getCreateObjectOptions></tns:getCreateObjectOptions></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_Virtual_GuestAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:getCreateObjectOptionsResponse><getCreateObjectOptionsReturn xsi:type="ns1:SoftLayer_Container_Virtual_Guest_Configuration"><blockDevices SOAP-ENC:arrayType="ns1:SoftLayer_Container_Virtual_Guest_Configuration_Option[93]" xsi:type="ns1:SoftLayer_Container_Virtual_Guest_Configuration_OptionArray"><item xsi:type="ns1:SoftLayer_Container_Virtual_Guest_Configuration_Option"><itemPrice xsi:type="ns1:SoftLayer_Product_Item_Price"><hourlyRecurringFee xsi:type="xsd:decimal">0</hourlyRecurringFee><recurringFee xsi:type="xsd:decimal">0</recurringFee><item xsi:type="ns1:SoftLayer_Product_Item"><description xsi:type="xsd:string">25 GB (SAN)</description></item></itemPrice><template xsi:type="ns1:SoftLayer_Virtual_Guest"><id xsi:nil="true"/><blockDevices SOAP-ENC:arrayType="ns1:SoftLayer_Virtual_Guest_Block_Device[1]" xsi:type="ns1:SoftLayer_Virtual_Guest_Block_DeviceArray"><item xsi:type="ns1:SoftLayer_Virtual_Guest_Block_Device"><device xsi:type="xsd:string">0</device><diskImage xsi:type="ns1:SoftLayer_Virtual_Disk_Image"><capacity xsi:type="xsd:int">25</capacity></diskImage></item></blockDevices><localDiskFlag xsi:type="xsd:boolean">false</localDiskFlag></template></item><item xsi:type="ns1:SoftLayer_Container_Virtual_Guest_Configuration_Option"><itemPrice xsi:type="ns1:SoftLayer_Product_Item_Price"><hourlyRecurringFee xsi:type="xsd:decimal">.016</hourlyRecurringFee><recurringFee xsi:type="xsd:decimal">10.29</recurringFee><item xsi:type="ns1:SoftLayer_Product_Item"><description xsi:type="xsd:string">100 GB (SAN)</description></item></itemPrice><template xsi:type="ns1:SoftLayer_Virtual_Guest"><id xsi:n[...]
