---
http_interactions:
- request:
    method: get
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Ticket?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:tns=\"http://api.service.softlayer.com/soap/v3.1/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap-enc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" name=\"slApi\" targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \ <types>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:include namespace=\"http://api.service.softlayer.com/soap/v3.1/\"
        schemaLocation=\"https://api.softlayer.com:443/soap/v3.1/SoftLayer_Ticket?xsd\"/>\n
        \   </xsd:schema>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:complexType name=\"SoftLayer_TicketInitParameters\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"id\" type=\"xsd:int\"/>\n
        \         <xsd:element minOccurs=\"0\" maxOccurs=\"1\" name=\"globalIdentifier\"
        type=\"xsd:string\"/>\n        </xsd:sequence>\n      </xsd:complexType>\n
        \     <xsd:complexType name=\"SoftLayer_TicketObjectMask\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"mask\" type=\"tns:SoftLayer_Ticket\"/>\n
        \       </xsd:sequence>\n      </xsd:complexType>\n      <xsd:simpleType name=\"createAdministrativeTicket_attachmentType\">\n
        \       <xsd:restriction base=\"xsd:string\">\n          <xsd:enumeration
        value=\"HARDWARE\">\n            <xsd:annotation>\n              <xsd:documentation>HARDWARE</xsd:documentation>\n
        \           </xsd:annotation>\n          </xsd:enumeration>\n          <xsd:enumeration
        value=\"VIRTUAL_GUEST\">\n            <xsd:annotation>\n              <xsd:documentation>VIRTUAL_GUEST</xsd:documentation>\n
        \           </xsd:annotation>\n          </xsd:enumeration>\n        </xsd:restriction>\n
        \     </xsd:simpleType>\n      <xsd:simpleType name=\"createCancelServerTicket_attachmentType\">\n
        \       <xsd:restriction ba[...]
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Ticket
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION></env:Header><env:Body><tns:createAdministrativeTicket><templateObject><assignedUserId>12345</assignedUserId><notifyUserOnUpdateFlag>true</notifyUserOnUpdateFlag><title>Account Profile Update Request</title></templateObject><contents>address1: &quot;Address Edited&quot;
                                  address2: &quot;newAddress2&quot;
                                  city: &quot;cityEdited&quot;
                                  companyName: &quot;My Company&quot;
                                  country: &quot;BR&quot;
                                  email: &quot;mynewemail@softlayer.com&quot;
                                  faxPhone: &quot;&quot;
                                  firstName: &quot;EditedName&quot;
                                  lastName: &quot;Last Name&quot;
                                  officePhone: &quot;123456789&quot;
                                  postalCode: &quot;11111-2222&quot;</contents><attachmentId xsi:nil="true"/><rootPassword>TestPassword</rootPassword><controlPanelPassword>TestPassword</controlPanelPassword><accessPort>22</accessPort><attachedFiles xsi:nil="true"/><attachmentType xsi:nil="true"/></tns:createAdministrativeTicket></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_TicketAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SoftLayer_Exception</faultcode><faultstring>Invalid API token.</faultstring><faultactor></faultactor></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Wed, 18 Nov 2015 15:20:24 GMT
recorded_with: VCR 2.9.3
