---
http_interactions:
- request:
    method: get
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Dns_Domain?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:tns=\"http://api.service.softlayer.com/soap/v3.1/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap-enc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" name=\"slApi\" targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \ <types>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:include namespace=\"http://api.service.softlayer.com/soap/v3.1/\"
        schemaLocation=\"https://api.softlayer.com:443/soap/v3.1/SoftLayer_Dns_Domain?xsd\"/>\n
        \   </xsd:schema>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:complexType name=\"SoftLayer_Dns_DomainInitParameters\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"id\" type=\"xsd:int\"/>\n
        \         <xsd:element minOccurs=\"0\" maxOccurs=\"1\" name=\"globalIdentifier\"
        type=\"xsd:string\"/>\n        </xsd:sequence>\n      </xsd:complexType>\n
        \     <xsd:complexType name=\"SoftLayer_Dns_DomainObjectMask\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"mask\" type=\"tns:SoftLayer_Dns_Domain\"/>\n
        \       </xsd:sequence>\n      </xsd:complexType>\n    </xsd:schema>\n  </types>\n
        \ <message name=\"SoftLayer_Dns_DomainInitParametersHeader\">\n    <part name=\"SoftLayer_Dns_DomainInitParameters\"
        type=\"tns:SoftLayer_Dns_DomainInitParameters\"/>\n  </message>\n  <message
        name=\"createARecord\">\n    <part name=\"host\" type=\"xsd:string\"/>\n    <part
        name=\"data\" type=\"xsd:string\"/>\n    <part name=\"ttl\" type=\"xsd:int\"/>\n
        \ </message>\n  <message name=\"createARecordResponse\">\n    <part name=\"createARecordReturn\"
        type=\"tns:SoftLayer_Dns_Domain_ResourceRecord_AType\"/>\n  </message>\n  <messa[...]
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Dns_Domain
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION><SoftLayer_Dns_DomainInitParameters><id>1908681</id></SoftLayer_Dns_DomainInitParameters></env:Header><env:Body><tns:getObject></tns:getObject></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_Dns_DomainAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:getObjectResponse><getObjectReturn xsi:type="ns1:SoftLayer_Dns_Domain_Forward"><id xsi:type="xsd:int">1908681</id><name xsi:type="xsd:string">softlayerclient.io</name><serial xsi:type="xsd:int">2016031002</serial><updateDate xsi:type="xsd:dateTime">2016-03-10T17:41:36-06:00</updateDate><managedResourceFlag xsi:type="xsd:boolean">false</managedResourceFlag></getObjectReturn></ns1:getObjectResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 10 Mar 2016 17:41:57 GMT
[...]
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Dns_Domain
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION><SoftLayer_Dns_DomainInitParameters><id>1908681</id></SoftLayer_Dns_DomainInitParameters></env:Header><env:Body><createARecord><host
        xsi:type="xsd:string">subdomain</host><data xsi:type="xsd:string">127.0.0.1</data><ttl
        xsi:type="xsd:int">7200</ttl></createARecord></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_Dns_DomainAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:createARecordResponse><createARecordReturn xsi:type="ns1:SoftLayer_Dns_Domain_ResourceRecord_AType"><data xsi:type="xsd:string">127.0.0.1</data><domainId xsi:type="xsd:int">1908681</domainId><expire xsi:nil="true"/><host xsi:type="xsd:string">subdomain</host><id xsi:type="xsd:int">60741764</id><minimum xsi:nil="true"/><mxPriority xsi:nil="true"/><refresh xsi:nil="true"/><retry xsi:nil="true"/><ttl xsi:type="xsd:int">7200</ttl><type xsi:type="xsd:string">A</type><domain xsi:type="ns1:SoftLayer_Dns_Domain_Forward"><id xsi:type="xsd:int">1908681</id><name xsi:type="xsd:string">softlayerclient.io</name><serial xsi:type="xsd:int">2016031003</serial><updateDate xsi:type="xsd:dateTime">2016-03-10T11:42:01-06:00</updateDate><managedResourceFlag xsi:type="xsd:boolean">false</managedResourceFlag></domain></createARecordReturn></ns1:createARecordResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 10 Mar 2016 17:42:02 GMT
recorded_with: VCR 3.0.1
