---
http_interactions:
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Dns_Domain
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION><SoftLayer_Dns_DomainInitParameters><id>1911885</id></SoftLayer_Dns_DomainInitParameters></env:Header><env:Body><tns:getObject></tns:getObject></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_Dns_DomainAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3.1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:getObjectResponse><getObjectReturn xsi:type="ns1:SoftLayer_Dns_Domain_Forward"><id xsi:type="xsd:int">1911885</id><name xsi:type="xsd:string">softlayerclient.io</name><serial xsi:type="xsd:int">2016032902</serial><updateDate xsi:type="xsd:dateTime">2016-03-29T16:44:26-06:00</updateDate><managedResourceFlag xsi:type="xsd:boolean">false</managedResourceFlag></getObjectReturn></ns1:getObjectResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Tue, 29 Mar 2016 17:47:32 GMT
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Dns_Domain
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION><SoftLayer_Dns_DomainInitParameters><id>1911885</id></SoftLayer_Dns_DomainInitParameters></env:Header><env:Body><createARecord><host
        xsi:type="xsd:string">subdomain</host><data xsi:type="xsd:string">127.0.0.1</data><ttl
        xsi:type="xsd:int">7200</ttl></createARecord></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_Dns_DomainAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3.1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:createARecordResponse><createARecordReturn xsi:type="ns1:SoftLayer_Dns_Domain_ResourceRecord_AType"><data xsi:type="xsd:string">127.0.0.1</data><domainId xsi:type="xsd:int">1911885</domainId><expire xsi:nil="true"/><host xsi:type="xsd:string">subdomain</host><id xsi:type="xsd:int">60960355</id><minimum xsi:nil="true"/><mxPriority xsi:nil="true"/><refresh xsi:nil="true"/><retry xsi:nil="true"/><ttl xsi:type="xsd:int">7200</ttl><type xsi:type="xsd:string">A</type><domain xsi:type="ns1:SoftLayer_Dns_Domain_Forward"><id xsi:type="xsd:int">1911885</id><name xsi:type="xsd:string">softlayerclient.io</name><serial xsi:type="xsd:int">2016032903</serial><updateDate xsi:type="xsd:dateTime">2016-03-29T11:47:33-06:00</updateDate><managedResourceFlag xsi:type="xsd:boolean">false</managedResourceFlag></domain></createARecordReturn></ns1:createARecordResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Tue, 29 Mar 2016 17:47:33 GMT
recorded_with: VCR 3.0.1
