---
http_interactions:
- request:
    method: get
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Account?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:tns=\"http://api.service.softlayer.com/soap/v3.1/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap-enc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" name=\"slApi\" targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \ <types>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:include namespace=\"http://api.service.softlayer.com/soap/v3.1/\"
        schemaLocation=\"https://api.softlayer.com:443/soap/v3.1/SoftLayer_Account?xsd\"/>\n
        \   </xsd:schema>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:complexType name=\"SoftLayer_AccountObjectMask\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"mask\" type=\"tns:SoftLayer_Account\"/>\n
        \       </xsd:sequence>\n      </xsd:complexType>\n    </xsd:schema>\n  </types>\n
        \ <message name=\"activatePartner\">\n    <part name=\"accountId\" type=\"xsd:string\"/>\n
        \   <part name=\"hashCode\" type=\"xsd:string\"/>\n  </message>\n  <message
        name=\"activatePartnerResponse\">\n    <part name=\"activatePartnerReturn\"
        type=\"tns:SoftLayer_Account\"/>\n  </message>\n  <message name=\"addAchInformation\">\n
        \   <part name=\"achInformation\" type=\"tns:SoftLayer_Container_Billing_Info_Ach\"/>\n
        \ </message>\n  <message name=\"addAchInformationResponse\">\n    <part name=\"addAchInf[...]
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Account
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION></env:Header><env:Body><tns:getDomains></tns:getDomains></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_AccountAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3.1/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header><ns1:totalItems><amount>21</amount></ns1:totalItems></SOAP-ENV:Header><SOAP-ENV:Body><ns1:getDomainsResponse><getDomainsReturn SOAP-ENC:arrayType="ns1:SoftLayer_Dns_Domain[21]" xsi:type="ns1:SoftLayer_Dns_DomainArray"><item xsi:type="ns1:SoftLayer_Dns_Domain_Forward"><id xsi:type="xsd:int">1861630</id><name xsi:type="xsd:string">cgallo.com</name><serial xsi:type="xsd:int">2015120704</serial><updateDate xsi:type="xsd:dateTime">2015-12-07T16:40:41-06:00</updateDate></item><item xsi:type="ns1:SoftLayer_Dns_Domain_Forward"><id xsi:type="xsd:int">1791646</id><name xsi:type="xsd:string">dal.slcommunity.org</name><serial xsi:type="xsd:int">2015110502</serial><updateDate xsi:type="xsd:dateTime">2015-11-05T11:01:49-06:00</updateDate></item><item xsi:type="ns1:SoftLayer_Dns_Domain_Forward"><id xsi:type="xsd:int">1795354</id><name xsi:type="xsd:string">global.lablayer.info</name><serial xsi:type="xsd:int[...]
