---
http_interactions:
- request:
    method: get
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Dns_Domain?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:tns=\"http://api.service.softlayer.com/soap/v3.1/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap-enc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" name=\"slApi\" targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \ <types>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:include namespace=\"http://api.service.softlayer.com/soap/v3.1/\"
        schemaLocation=\"https://api.softlayer.com:443/soap/v3.1/SoftLayer_Dns_Domain?xsd\"/>\n
        \   </xsd:schema>\n    <xsd:schema targetNamespace=\"http://api.service.softlayer.com/soap/v3.1/\">\n
        \     <xsd:complexType name=\"SoftLayer_Dns_DomainInitParameters\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"id\" type=\"xsd:int\"/>\n
        \         <xsd:element minOccurs=\"0\" maxOccurs=\"1\" name=\"globalIdentifier\"
        type=\"xsd:string\"/>\n        </xsd:sequence>\n      </xsd:complexType>\n
        \     <xsd:complexType name=\"SoftLayer_Dns_DomainObjectMask\">\n        <xsd:sequence>\n
        \         <xsd:element minOccurs=\"1\" maxOccurs=\"1\" name=\"mask\" type=\"tns:SoftLayer_Dns_Domain\"/>\n
        \       </xsd:sequence>\n      </xsd:complexType>\n    </xsd:schema>\n  </types>\n
        \ <message name=\"SoftLayer_Dns_DomainInitParametersHeader\">\n    <part name=\"SoftLayer_Dns_DomainInitParameters\"
        type=\"tns:SoftLayer_Dns_DomainInitParameters\"/>\n  </message>\n  <message
        name=\"createARecord\">\n    <part name=\"host\" type=\"xsd:string\"/>\n    <part
        name=\"data\" type=\"xsd:string\"/>\n    <part name=\"ttl\" type=\"xsd:int\"/>\n
        \ </message>\n  <message name=\"createARecordResponse\">\n    <part name=\"createARecordReturn\"
        type=\"tns:SoftLayer_Dns_Domain_ResourceRecord_AType\"/>\n  </message>\n  <messa[...]
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Dns_Domain
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION></env:Header><env:Body><createObject><templateObject
        xsi:type="tns:SoftLayer_Dns_Domain"><name>softlayerclient.io</name><resourceRecords></resourceRecords></templateObject></createObject></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3.1/SoftLayer_Dns_DomainAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:createObjectResponse><createObjectReturn xsi:type="ns1:SoftLayer_Dns_Domain_Forward" id="ref1"><id xsi:type="xsd:int">1908681</id><name xsi:type="xsd:string">softlayerclient.io</name><serial xsi:type="xsd:int">2016031002</serial><updateDate xsi:type="xsd:dateTime">2016-03-10T11:41:27-06:00</updateDate><account xsi:type="ns1:SoftLayer_Account"><accountManagedResourcesFlag xsi:type="xsd:boolean">false</accountManagedResourcesFlag><accountStatusId xsi:type="xsd:int">1001</accountStatusId><address1 xsi:type="xsd:string">4849 Alpha Rd</address1><allowedPptpVpnQuantity xsi:type="xsd:int">2</allowedPptpVpnQuantity><brandId xsi:type="xsd:int">2</brandId><city xsi:type="xsd:string">Dallas</city><claimedTaxExemptTxFlag xsi:type="xsd:boolean">false</claimedTaxExemptTxFlag><companyName xsi:type="xsd:string">SoftLayer Internal - Development Community</companyName><country xsi:type="xsd:string">US</country><createDate xsi:type="xsd:dateTime">2014-02-04T10:33:56-06:00</createDate><email xsi:type="xsd:string">pjackson@softlayer.com</email><firstName xsi:type="xsd:string">Phil</firstName><id xsi:type="xsd:int">307608</id><isReseller xsi:type="xsd:int">0</isReseller><lastName xsi:type="xsd:string">Jackson</lastName><lateFeeProtectionFlag xsi:type="xsd:boolean">true</lateFeeProtectionFlag><modifyDate xsi:type="xsd:dateTime">2014-02-04T10:34:18-06:00</modifyDate><officePhone xsi:type="xsd:string">281.714.3156</officePhone><postalCode xsi:type="xsd:string">75244-4608</postalCode><state xsi:type="xsd:string">TX</state><statusDate xsi:nil="true"/><attributes SOAP-ENC:arrayType="ns1:SoftLayer_Account_Attribute[9]" xsi:type="ns1:SoftLayer_Account_AttributeArray"><item xsi:type="ns1:SoftLayer_Account_Attribute"><accountAttributeTypeId xsi:type="xsd:int">11</accountAttributeTypeId><accountId xsi:type="xsd:int">307608</accountId><id xsi:type="xsd:int">288442</id><value xsi:type="xsd:string">0</value><accountAttributeType xsi:type="ns1:SoftLayer_Account_Attribute_Type"><description xsi:type="xsd:string">If an account has special pricing on *ALL* VDR members, put it here</description><id xsi:type="xsd:int">11</id><keyName xsi:type="xsd:string">VDR_MEMBER_PRICE</keyName><name xsi:type="xsd:string">VDR Member Price</name></accountAttributeType></item><item xsi:type="ns1:SoftLayer_Account_Attribute"><accountAttributeTypeId xsi:type="xsd:int">18</accountAttributeTypeId><accountId xsi:type="xsd:int">307608</accountId><id xsi:type="xsd:int">288444</id><value xsi:type="xsd:string">1</value><accountAttributeType xsi:type="ns1:SoftLayer_Account_Attribute_Type"><description xsi:type="xsd:string">Do not charge the card on f[...]
