---
http_interactions:
- request:
    method: post
    uri: https://api.softlayer.com/soap/v3.1/SoftLayer_Dns_Domain
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.service.softlayer.com/soap/v3/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><AUTHENTICATION></env:Header><env:Body><createObject><templateObject
        xsi:type="tns:SoftLayer_Dns_Domain"><name>softlayerclient.io</name><resourceRecords></resourceRecords></templateObject></createObject></env:Body></env:Envelope>
    headers:
      SOAPAction:
      - '"http://api.service.softlayer.com/soap/v3/SoftLayer_Dns_DomainAction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.service.softlayer.com/soap/v3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:createObjectResponse><createObjectReturn id="ref1" xsi:type="ns1:SoftLayer_Dns_Domain_Forward"><id xsi:type="xsd:int">1911885</id><name xsi:type="xsd:string">softlayerclient.io</name><serial xsi:type="xsd:int">2016032902</serial><updateDate xsi:type="xsd:dateTime">2016-03-29T11:44:17-06:00</updateDate><account xsi:type="ns1:SoftLayer_Account"><accountManagedResourcesFlag xsi:type="xsd:boolean">false</accountManagedResourcesFlag><accountStatusId xsi:type="xsd:int">1001</accountStatusId><address1 xsi:type="xsd:string">4849 Alpha Rd</address1><allowedPptpVpnQuantity xsi:type="xsd:int">2</allowedPptpVpnQuantity><brandId xsi:type="xsd:int">2</brandId><city xsi:type="xsd:string">Dallas</city><claimedTaxExemptTxFlag xsi:type="xsd:boolean">false</claimedTaxExemptTxFlag><companyName xsi:type="xsd:string">SoftLayer Internal - Development Community</companyName><country xsi:type="xsd:string">US</country><createDate xsi:type="xsd:dateTime">2014-02-04T10:33:56-06:00</createDate><email xsi:type="xsd:string">pjackson@softlayer.com</email><firstName xsi:type="xsd:string">Phil</firstName><id xsi:type="xsd:int">307608</id><isReseller xsi:type="xsd:int">0</isReseller><lastName xsi:type="xsd:string">Jackson</lastName><lateFeeProtectionFlag xsi:type="xsd:boolean">true</lateFeeProtectionFlag><modifyDate xsi:type="xsd:dateTime">2014-02-04T10:34:18-06:00</modifyDate><officePhone xsi:type="xsd:string">281.714.3156</officePhone><postalCode xsi:type="xsd:string">75244-4608</postalCode><state xsi:type="xsd:string">TX</state><statusDate xsi:nil="true"/><attributes SOAP-ENC:arrayType="ns1:SoftLayer_Account_Attribute[9]" xsi:type="ns1:SoftLayer_Account_AttributeArray"><item xsi:type="ns1:SoftLayer_Account_Attribute"><accountAttributeTypeId xsi:type="xsd:int">11</accountAttributeTypeId><accountId xsi:type="xsd:int">307608</accountId><id xsi:type="xsd:int">288442</id><value xsi:type="xsd:string">0</value><accountAttributeType xsi:type="ns1:SoftLayer_Account_Attribute_Type"><description xsi:type="xsd:string">If an account has special pricing on *ALL* VDR members, put it here</description><id xsi:type="xsd:int">11</id><keyName xsi:type="xsd:string">VDR_MEMBER_PRICE</keyName><name xsi:type="xsd:string">VDR Member Price</name></accountAttributeType></item><item xsi:type="ns1:SoftLayer_Account_Attribute"><accountAttributeTypeId xsi:type="xsd:int">18</accountAttributeTypeId><accountId xsi:type="xsd:int">307608</accountId><id xsi:type="xsd:int">288444</id><value xsi:type="xsd:string">1</value><accountAttributeType xsi:type="ns1:SoftLayer_Account_Attribute_Type"><description xsi:type="xsd:string">Do not charge the card on f[...]
